<div *ngIf="!name; else forminfo">
  <form [formGroup]="superForm" (ngSubmit)="addPost(superForm.value)">
    <div class="form-container">
      <div class="row columns">

        <h1 automation-id="form-title">My Super Form</h1>

        <label automation-id="label-name">Name
          <input automation-id="input-name" type="text" formControlName="name">
        </label>
        <div automation-id="alert-name" class="alert" *ngIf="!superForm.controls['name'].valid && superForm.controls['name'].touched">
          {{ titleAlert }}
        </div>


        <label automation-id="label-description">Description
          <textarea automation-id="comment" formControlName="description"></textarea>
        </label>
        <div automation-id="alert-description" class="alert"  *ngIf="!superForm.controls['description'].valid && superForm.controls['description'].touched">
          You must specify a description that's between 30 and 500 characters.
        </div>

        <label automation-id="label-email">Email
          <input automation-id="input-email" type="text" formControlName="email">
        </label>
        <div automation-id="alert-email" automation-id="alert-form" class="alert" *ngIf="!superForm.controls['email'].valid && superForm.controls['email'].touched">
          You must specify a valid email.
        </div>

        <hr>
        <input automation-id="input-checkbox" type="checkbox" name="validate" formControlName="validate" value="true"> <span id="checkbox-text">Validate name length (minimum of 3 characters)</span>

        <input id="foo" automation-id="input-submit" type="submit" class="button expanded" value="Submit Form" [disabled]="!superForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1 class="subheader">Success!</h1>

      <p id="nameId">Your name: {{ name }}</p>
      <p id="emailId">Your email: {{ email }}</p>

      <hr>

      <p id="descriptionId">Description: {{ description }}</p>
    </div>
  </div>
</ng-template>
